# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# XR Simulation files 
Assets/XR/Temp/
Assets/XR/UserSimulationSettings/
Assets/XR/Resources/XRSimulationRuntimeSettings.asset

# Visual Studio / Rider
.vs/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS generated
.DS_Store
Thumbs.db

# файлы CMake (IL2CPP)
.utmp/

# восстановления Unity
Assets/_Recovery/
*.apk
*.aab
*.zip

# Локальная база данных 
Assets/StreamingAssets/inventory.db
*.db

# NuGet пакеты (кэш NuGetForUnity)
Assets/Packages/

# Crashlytics
sysinfo.txt

# Memory Captures
MemoryCaptures/

# Recordings
Recordings/

# Asset Store downloads
Assets/AssetStoreTools*

# Burst Debug Info
KgmkAR_BurstDebugInformation_DoNotShip/

# Backend (.NET / ASP.NET Core)
# Папки сборки бэкенда
Backend/bin/
Backend/obj/

# Локальные настройки с паролем от БД 
Backend/appsettings.Development.json

# Локальные настройки запуска 
Backend/Properties/launchSettings.json

!Backend/*.csproj
!Backend/*.sln